html {
  background-color: #d8ddde;
  color: #746f72;
}

a {
  color: #746f72;
  text-decoration: none;
}

a:hover {
  color: #4a1c45;
}

body {
  margin: 0px;
  text-decoration: none;
}

.App {
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #2d898b;
  margin-top: 55px;
  margin-left: 2px;
  margin-right: 2px;
}

.H4 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Article-Cards {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  margin-left: 2px;
  margin-right: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-color: #2d898b;
  grid-gap: 1rem;
}

.Article-Card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  border: 2px solid #2d898b;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  height: calc(100vh / 4);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a1c45;
  border: 2px solid #746f72;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 2px solid #746f72;
}

li:last-child {
  border-right: none;
  border-left: 2px solid #746f72;
}

.Navigation-li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navigation-li:hover {
  background-color: #2d898b;
  color: #4a1c45;
}

.TopicButtons-Section {
  padding-bottom: 5px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.TopicButtons-Section-Buttons {
  margin-right: 5px;
  padding: 5px;
  background-color: #2d898b;
  color: #4a1c45;
}

.TopicButtons-Section-Buttons:hover {
  background-color: #4a1c45;
  color: #2d898b;
}
